        <footer class="area" id="footer">
            <div class="container">
                <div class="row"><br /><br />
                    <div class="region col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <div class="widget widget_text clearfix">
                            <h2 class="widgettitle">What is DiguSign?</h2>
                            <div class="textwidget">
                                <p>We offer a service that allows you to prove a document existed and hasn't changed.</p><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <div class="widget recent-posts-extended clearfix">
                            <h2 class="widgettitle">How Does it work?</h2>
                            <div class="textwidget">
                                <p>We send an OP_RETURN transaction that allows enough space to store a SHA256 Hash.</p><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                       <div class="widget recent-posts-extended clearfix">
                            <h2 class="widgettitle">Are my documents stored on your server?</h2>
                            <div class="textwidget">
                                <p><b>NO</b>. The only thing sent to our server is the documents SHA256 Digest once your PC has hashed it.</p><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <div class="widget widget_widgets_contact clearfix">
                            <h2 class="widgettitle">Powered By</h2>
                            <div class="textwidget">
                                <a href="http://digibyte.co"><img src="images/digibyte.png" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
	<script src="js/jquery.js" type="text/javascript"></script>
    <script src='js/jquery.themepunch.plugins.js' type='text/javascript'></script>
    <script src='js/jquery.themepunch.revolution.js' type='text/javascript'></script>
    <script type="text/javascript">
    var tpj=jQuery;             
    tpj.noConflict();               
    var revapi7;
    tpj(document).ready(function() {                                
    if(tpj('#rev_slider_7_1').revolution == undefined)
        revslider_showDoubleJqueryError('#rev_slider_7_1');
    else
       revapi7 = tpj('#rev_slider_7_1').show().revolution({
            dottedOverlay:"none",
            delay:8000,
            startwidth:1170,
            startheight:400,
            hideThumbs:200,                       
            thumbWidth:100,
            thumbHeight:50,
            thumbAmount:4,                        
            navigationType:"none",
            navigationArrows:"solo",
            navigationStyle:"round",                        
            touchenabled:"on",
            onHoverStop:"on",                        
            navigationHAlign:"center",
            navigationVAlign:"bottom",
            navigationHOffset:0,
            navigationVOffset:20,
            soloArrowLeftHalign:"left",
            soloArrowLeftValign:"center",
            soloArrowLeftHOffset:20,
            soloArrowLeftVOffset:0,
            soloArrowRightHalign:"right",
            soloArrowRightValign:"center",
            soloArrowRightHOffset:20,
            soloArrowRightVOffset:0,                               
            shadow:0,
            fullWidth:"on",
            fullScreen:"off",
            stopLoop:"off",
            stopAfterLoops:-1,
            stopAtSlide:-1,                       
            shuffle:"off",                        
            autoHeight:"off",                       
            forceFullWidth:"on",                                                                                                                       
            hideThumbsOnMobile:"on",
            hideBulletsOnMobile:"on",
            hideArrowsOnMobile:"on",
            hideThumbsUnderResolution:0,                        
            hideSliderAtLimit:0,
            hideCaptionAtLimit:721,
            hideAllCaptionAtLilmit:721,
            startWithSlide:0,                        
            fullScreenOffsetContainer: ""   
        });
    });
    </script>
    <script src="js/bootstrap.js" type="text/javascript"></script>
    <script src="js/javascripts.js" type="text/javascript"></script>
    <script src='js/functions.js' type='text/javascript'></script>
</body>
</html>