        <header class="area animated" id="header">
            <div class="container">
                <div class="row">
                    <div class="region col-xs-12 col-sm-12 col-md-5 col-lg-5" id="logo">
                        <a class="home-link" href="/" rel="home" title="PixelStudio">
	                        <img class="animated rotateInDownLeft main-logo" src="images/digibytelogo.png" alt="digibyte-logo"></a>
                        <div class="branding">
                            <h1 class="site-title animated fadeInLeft">
                                <a class="home-link" href="/" rel="home" title="DiguSign">DiguSign</a>
                            </h1>
                            <h2 class="site-description animated fadeInRight">
                                <a class="home-link" href="/" rel="home" title="DiguSign">it in the blockchain?</a>
                            </h2>
                        </div>
                    </div>
                    <nav class="hidden-xs hidden-sm col-md-7 col-lg-7" id="navigation">
                        <div class="menu">
                            <ul class="nav nav-pills">
                                <li class="menu-item-home active"><a href="/" title="Home">Sign a Document</a></li>
                                <li>
                                    <a href="/recent" title="Recent">Recent Documents</a>
                                </li>
                                <li>
                                    <a href="/search" title="Search">Search</a>
                                </li>
                                <!--li>
                                    <a href="/faq" title="Services">FAQ</a>
                                </li-->
                            </ul>
                        </div>
                    </nav>
                    <div class="col-xs-12">
                        <div class="border border-top"></div>
                    </div>
                </div>
            </div>
        </header>
        <div class="widget widget_revslider clearfix">
            <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_7_1_wrapper">
                <div class="rev_slider fullwidthabanner" id="rev_slider_7_1">
                    <ul>
                        <li data-fsmasterspeed="300" data-fsslotamount="7" data-fstransition="slotslide-vertical" data-masterspeed="300" data-slotamount="7" data-transition="fade"><img alt="wp-content" data-bgfit="cover" data-bgposition="left center" data-bgrepeat="no-repeat" src="images/transparent.png" data-fullwidthcentering="true">
                            <div class="tp-caption tp-caption2 tp-fade" data-easing="Power3.easeInOut" data-endspeed="300" data-speed="300" data-start="800" data-x="123" data-y="109"><a href="/"><img alt="" src="images/welcome.png"></a></div>
                            <div class="tp-caption tp-caption3 tp-fade" data-easing="Power3.easeInOut" data-endspeed="300" data-speed="300" data-start="1100" data-x="112" data-y="218"><img alt="" src="images/content.png"></div>
                            <div class="tp-caption tp-caption4 tp-fade" data-easing="Power3.easeInOut" data-endspeed="300" data-speed="300" data-start="500" data-x="713" data-y="53"><img alt="" src="images/big-phone.png"></div>
                            <div class="tp-caption tp-caption5 tp-fade" data-easing="Power3.easeInOut" data-endspeed="300" data-speed="300" data-start="1400" data-x="130" data-y="427"><a href="http://themeforest.net/user/themeperfect/portfolio?ref=themeperfect"><img alt="" src="images/view-theme-button.png"></a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="widget widget_revslider clearfix"></div>   