<!DOCTYPE html>
<!--[if IEMobile 7 ]><html
lang="en-US"class="no-js iem7"> <![endif]--><!--[if lt IE 7 ]><html
lang="en-US" class="no-js ie6"> <![endif]--><!--[if IE 7 ]><html
lang="en-US" class="no-js ie7"> <![endif]--><!--[if IE 8 ]><html
lang="en-US" class="no-js ie8"> <![endif]--><!--[if IE 9 ]><html
lang="en-US" class="no-js ie9"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html class="no-js" lang="en-US">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>DiguSign - it in the blockchain?</title>
    <base href="/">
    <link href="css/bootstrap.css" media="all" rel="stylesheet" type="text/css">
    <link href="css/style.css" media="all" rel="stylesheet" type="text/css">
    <link href="css/custom.css" media="all" rel="stylesheet" type="text/css">
    <link href='css/captions.css' media='all' rel='stylesheet' type='text/css'>
    <link href="css/fontawesome.css" media="all" rel="stylesheet" type="text/css">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="images/favicon.ico" rel="shortcut icon">
    <script src="/js/jquery.js"></script>
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <!--[if lt IE 9]><script  
    src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body class="home page">
    <div class="max-1170 style-normal clearfix" id="page">

        <% include partials/header %> 
       
        <div class="area clearboth clearfix" id="maincontent">
            <div class="container">
                <div class="row">
	                <div class="container clearfix" id="jumbotron">
                        <div class="jumbotron boxed clearfix">
                            <div class="row">
                                <div class="col-md-12">
                                    <% if (doc[0].documentMessage) { %>
                                        <h4><b>Document Message:</b> <%= doc[0].documentMessage %></h4>
                                    <% } else { %>
                                        <h4><b>Document Hash:</b> <%= doc[0].documentHash %></h4>
                                    <% } %>
                                </div>
                                <% if(doc[0].name) { %>
                                    <div class="col-md-12">
                                        <span class="small"><b>Document Name:</b> <%= doc[0].name %></span>
                                    </div>
                                <% } %>
                                <% if(doc[0].documentType) { %>
                                    <div class="col-md-12">
                                        <span class="small"><b>Document Type:</b> <%= doc[0].documentType %></span>
                                    </div>
                                <% } %>
                                <% if(doc[0].previousDocs.length > 0) { %>
                                    <% for(var i = 0; i < doc[0].previousDocs.length; i++) { %>
                                        <div class="col-md-12">
                                            <span  class="small"><b>Document References:</b> <a href="/document/<%= doc[0].previousDocs[i] %>"><%= doc[0].previousDocs[i] %></a></span>
                                        </div>
                                    <% } %>
                                <% } %>
                                <div class="col-md-12">
                                    <span class="small"><b>Registered with DiguSign since:</b> <%= new Date(doc[0].timeAdded * 1000) %></span>
                                </div>
                                <div class="col-md-12">
                                    <span class="small"><b>Registered on the blockchain at:</b> <%= new Date(doc[0].timeBroadcasted * 1000) %></span>
                                </div>
                            </div>
                            <div class="row" style="margin-top:25px">
                                <div class="col-md-12" style="background-color:#f4f4f4">
                                    <div class="col-md-12 text-center" style="margin-top:50px">
                                        <h3>Congratulations!</h3>
                                    </div>
                                    <div class="col-md-12">
                                        <span class="small" style="margin-top:15px">The Hash has sucessfully been embedded into the DigiByte Blockchain. You now have verifiable proof<br>
                                        that the document existed from the time it was broadcast to the blockchain</span>
                                    </div>
                                    <div class="col-md-12" style="margin-top:15px">
                                        <span><a href="http://digiexplorer.info/tx/<%= doc[0].txid %>"> Transaction <%= doc[0].txid %></a></span>
                                    </div>
                                    <div class="col-md-12" style="margin-top:15px; margin-bottom:15px">
                                        <span class="small"> Using our Search function you can read the transaction for any OP_RETURN codes and convert them to plaintext
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <% include partials/footer %> 