<!DOCTYPE html>
<!--[if IEMobile 7 ]><html
lang="en-US"class="no-js iem7"> <![endif]--><!--[if lt IE 7 ]><html
lang="en-US" class="no-js ie6"> <![endif]--><!--[if IE 7 ]><html
lang="en-US" class="no-js ie7"> <![endif]--><!--[if IE 8 ]><html
lang="en-US" class="no-js ie8"> <![endif]--><!--[if IE 9 ]><html
lang="en-US" class="no-js ie9"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html class="no-js" lang="en-US">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>DiguSign - it in the blockchain</title>
    <link href="css/bootstrap.css" media="all" rel="stylesheet" type="text/css">
    <link href="css/style.css" media="all" rel="stylesheet" type="text/css">
    <link href="css/custom.css" media="all" rel="stylesheet" type="text/css">
    <link href='css/captions.css' media='all' rel='stylesheet' type='text/css'>
    <link href="css/fontawesome.css" media="all" rel="stylesheet" type="text/css">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="images/favicon.ico" rel="shortcut icon">
    <script src="/js/jquery.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
    <script src="/js/filedrop.js"></script>
    <script src="/js/crypto.js"></script>
    <script src="/js/index.js"></script>
    <script>
  		function openFileOption()
			{
  				document.getElementById("file1").click();
			}
	</script>
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <!--[if lt IE 9]><script  
    src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body class="home page">
    <div class="max-1170 style-normal clearfix" id="page">

		<% include partials/header %> 

        <div class="area clearboth clearfix" id="maincontent">
            <div class="container">
                <div class="row">
	                <div class="container clearfix" id="jumbotron">
                        <div class="jumbotron boxed clearfix col-sm-12">
                            <h2 class="title text-center">Upload a Document!</h2>
                            <div class="content" style="margin-top:15px">
                            	<div id="addContent" class="row">
                            		<div class="col-sm-12" id="alert"></div>
                            		<div class="col-sm-12 text-left"  style="margin-left:55px">
                            			<label for="docName">Document Name (optional):</label>
                            			<input id="docName" style="width:60%; float:right; margin-right:100px"/>
                            		</div>
									<div class="col-sm-12 text-left" style="margin-left:55px; margin-top:15px">
										<label for="docType">Choose a Document Type:</label>
										<select id="docType" style="width:60%; float:right; margin-right:100px">
											<% for (var i in types){ %>
												<option  style="float:right; margin-right:100px" value="<%= types[i].code %>"><%= types[i].name %></option>
											<% } %>
										</select>
									</div>
									<div class="col-sm-12 text-left" style="margin-left:55px; margin-top:15px">
										<label for="private">Make this document private:</label>
										<input id="private" style="margin-left:16%" type="checkbox" />
									</div>
									<div id="uploadDiv" class="col-sm-12 text-left" style="margin-left:55px; margin-top:15px">
										<label for="file">Choose Document</label>
										<input style="margin-left:21%" type="file" name="file" id="file" />
									</div>
									<div class="col-sm-12 text-left" style="margin-left:55px; margin-top:15px">
										<label for="dochash">Document Hash:</label>
										<pre style="min-height:40px; margin-right:100px; max-width:60%; float:right" id="dochash"></pre>
									</div>
									<div class="col-sm-12 text-left" style="margin-left:55px; margin-top:15px">
										<label  class="text-left" for="dochash">Reference previously embedded Document</label>
										<img src="/images/blueplus.png" onclick="openFileOption();" id="docReference" style="float:right; margin-right:100px; margin-top:10px" /><input style="display:none" type="file" id="file1" name="file1" />
									</div>
								</div>
									<div class="col-sm-12 text-center">
										<button id="docSubmit" class="btn">Submit</button>
									</div>
                            </div>
							<div class="col-sm-12" style="margin-top:50px; border-top:2px solid #000">
								<h4 class="text-center" style="margin-top:25px"><b>Or Embedd your own custom message</b></h4>
								<div class="row" style="margin-top:25px">
									<div class="col-sm-12 text-center hidden" id="charAlert">
									</div>
									<div class="col-sm-12 text-left" style="margin-left:55px">
                            			<label for="docMessage">Enter a Custom Message:</label>
                            			<input id="docMessage" style="width:60%; float:right; margin-right:100px"/>
                            		</div>
									<div class="col-sm-12 text-left" style="margin-left:55px; margin-top:15px">
										<label for="privateMsg">Make this document private:</label>
										<input id="privateMsg" style="margin-left:12%" type="checkbox" />
									</div>
                            		<div  class="col-sm-12 text-center">
                            			<button id="messageSubmit" class="btn">Submit</button>
                            		</div>
                            	</div>										
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <% include partials/footer %> 