<!DOCTYPE html>
<!--[if IEMobile 7 ]><html
lang="en-US"class="no-js iem7"> <![endif]--><!--[if lt IE 7 ]><html
lang="en-US" class="no-js ie6"> <![endif]--><!--[if IE 7 ]><html
lang="en-US" class="no-js ie7"> <![endif]--><!--[if IE 8 ]><html
lang="en-US" class="no-js ie8"> <![endif]--><!--[if IE 9 ]><html
lang="en-US" class="no-js ie9"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html class="no-js" lang="en-US">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>DiguSign - it in the blockchain?</title>
    <base href="/">
    <link href="css/bootstrap.css" media="all" rel="stylesheet" type="text/css">
    <link href="css/style.css" media="all" rel="stylesheet" type="text/css">
    <link href="css/custom.css" media="all" rel="stylesheet" type="text/css">
    <link href='css/captions.css' media='all' rel='stylesheet' type='text/css'>
    <link href="css/fontawesome.css" media="all" rel="stylesheet" type="text/css">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="images/favicon.ico" rel="shortcut icon">
    <script src="/js/jquery.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
    <script src="/js/qrcode.min.js"></script>
    <script src="/js/payments.js"></script>
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <!--[if lt IE 9]><script  
    src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body class="home page">
    <div class="max-1170 style-normal clearfix" id="page">

        <% include partials/header %> 

        <div class="area clearboth clearfix" id="maincontent">
            <div class="container">
                <div class="row">
	                <div class="container clearfix" id="jumbotron">
                        <div class="jumbotron boxed clearfix col-md-12">
                            <h2 class="title">Your document is ready to be embedded in the blockchain!</h2>
                            <div class="content">
                                <div class="col-sm-3">
                                  <div id="qrcode" style="margin-top:30px"></div>
                                </div>
                              <div class="col-sm-9" style="margin-top:30px">
                                <p>Please send 2 DigiByte to the following address </p> 
                                <h4><b id="addr"><%= addr %></b></h4>
                                <br>
                                <img style="width:20%;" src="/images/loading.gif"/>
                                <br>
                                <p>(This covers the min fee and will make sure the tx is broadcasted as a priority)</p>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <% include partials/footer %> 