<!DOCTYPE html>
<!--[if IEMobile 7 ]><html
lang="en-US"class="no-js iem7"> <![endif]--><!--[if lt IE 7 ]><html
lang="en-US" class="no-js ie6"> <![endif]--><!--[if IE 7 ]><html
lang="en-US" class="no-js ie7"> <![endif]--><!--[if IE 8 ]><html
lang="en-US" class="no-js ie8"> <![endif]--><!--[if IE 9 ]><html
lang="en-US" class="no-js ie9"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html class="no-js" lang="en-US">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>DiguSign - it in the blockchain?</title>
    <base href="/">
    <link href="css/bootstrap.css" media="all" rel="stylesheet" type="text/css">
    <link href="css/style.css" media="all" rel="stylesheet" type="text/css">
    <link href="css/custom.css" media="all" rel="stylesheet" type="text/css">
    <link href='css/captions.css' media='all' rel='stylesheet' type='text/css'>
    <link href="css/fontawesome.css" media="all" rel="stylesheet" type="text/css">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="images/favicon.ico" rel="shortcut icon">
    <script src="/js/jquery.js"></script>
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <!--[if lt IE 9]><script  
    src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body class="home page">
    <div class="max-1170 style-normal clearfix" id="page">

        <% include partials/header %> 

        <div class="area clearboth clearfix" id="maincontent">
            <div class="container">
                <div class="row">
	                <div class="container clearfix" id="jumbotron">
                        <div class="jumbotron boxed clearfix col-md-12">
                            <h2 class="title text-center" >Recent Messages embedded via DiguSign!</h2>
                            <div class="content" style="margin-top:20px">
                                <div id="myTable">
                                    <table class="table stripped" style="table-layout: fixed;word-wrap: break-word;">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Document Message</th>
                                                <th class="text-center">Added to DiguSign</th>
                                                <th class="text-center">Broadcasted At</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableBody">
                                            <% recentMsgs.forEach(function(recent){ %>
                                                <% if (!recent.isPrivate) { %>
                                                    <tr>
                                                        <% if(recent.documentMessage) { %>
                                                            <td><a href="/document/<%= recent.documentID %>"><%= recent.documentMessage %></a></td>
                                                        <% } else { %>
                                                            <td><a href="/document/<%= recent.documentID %>" ><%= recent.documentHash %></a></td>
                                                        <% } %>
                                                        <td><%= new Date(recent.timeAdded * 1000) %></td>
                                                        <td><%= new Date(recent.timeBroadcasted * 1000) %></td>
                                                    </tr>
                                                <% } %>
                                            <%  }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <% include partials/footer %> 