<!DOCTYPE html>
<!--[if IEMobile 7 ]><html
lang="en-US"class="no-js iem7"> <![endif]--><!--[if lt IE 7 ]><html
lang="en-US" class="no-js ie6"> <![endif]--><!--[if IE 7 ]><html
lang="en-US" class="no-js ie7"> <![endif]--><!--[if IE 8 ]><html
lang="en-US" class="no-js ie8"> <![endif]--><!--[if IE 9 ]><html
lang="en-US" class="no-js ie9"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html class="no-js" lang="en-US">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>DiguSign - it in the blockchain?</title>
    <base href="/">
    <link href="css/bootstrap.css" media="all" rel="stylesheet" type="text/css">
    <link href="css/style.css" media="all" rel="stylesheet" type="text/css">
    <link href="css/custom.css" media="all" rel="stylesheet" type="text/css">
    <link href='css/captions.css' media='all' rel='stylesheet' type='text/css'>
    <link href="css/fontawesome.css" media="all" rel="stylesheet" type="text/css">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="images/favicon.ico" rel="shortcut icon">
    <script src="/js/jquery.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/filedrop.js"></script>
    <script src="/js/crypto.js"></script>
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <!--[if lt IE 9]><script  
    src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body class="home page">
    <div class="max-1170 style-normal clearfix" id="page">

        <% include partials/header %> 

        <div class="area clearboth clearfix" id="maincontent">
            <div class="container">
                <div class="row">
	                <div class="container clearfix" id="jumbotron">
                        <div class="jumbotron boxed clearfix col-md-12">
                            <div class="col-sm-12 text-center hidden" id="alert"></div>
                            <h2 class="title text-center" >Search for a Document</h2>
                            <div class="content" style="margin-top:20px">
                                <input type="text" class="form-control" id="searchText" placeholder="Search by Document Hash, Document ID or Tx" style="max-width:80%" >
                                <button class="btn btn-primary" id="Submit" style="margin-bottom:20px; margin-left:20px">Sumbit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="area clearboth clearfix hidden" id="searchResults">
                <div class="container">
                    <div class="row">
                        <div class="container clearfix" id="jumbotron">
                            <div class="jumbotron boxed clearfix col-md-12">
                                <div class="content" style="margin-top:20px">
                                    <div id="myTable">
                                        <table class="table stripped" style="table-layout: fixed;word-wrap: break-word;">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Document Message</th>
                                                    <th class="text-center">Document Type</th>
                                                    <th class="text-center">Has been sent</th>
                                                    <th class="text-center">Added to DigiSign</th>
                                                    <th class="text-center">Broadcasted At</th>
                                                </tr>
                                            </thead>
                                            <tbody id="docFound">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="area clearboth clearfix hidden" id="convertedTxResults">
                <div class="container">
                    <div class="row">
                        <div class="container clearfix" id="jumbotron">
                            <div class="jumbotron boxed clearfix col-md-12">
                                <div class="content" style="margin-top:20px">
                                    <label for="convertedTx"><b>Converted Transation to plain text is: </b></label>
                                    <pre id="convertedTx"></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="area clearboth clearfix hidden" id="loadingSpinner">
                <div class="container">
                    <div class="row">
                        <div class="container clearfix" id="jumbotron">
                            <div class="jumbotron boxed clearfix col-md-12">
                                <div class="content" style="margin-top:20px">
                                    <img src="images/loading.gif" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <% include partials/footer %> 