/* Revolution Slider
version:   	 2.1
date:      	 09/18/11
last update: 06.12.2012
author:		 themepunch
email:     	 info@themepunch.com
website:   	 http://www.themepunch.com */
@font-face {
    font-family: 'revicons';
    src: url(fonts/revicons.eot?5510888);
    src: url(fonts/revicons.eot?5510888#iefix) format("embedded-opentype"), 
    url(fonts/revicons.woff?5510888) format("woff"), 
    url(fonts/revicons.ttf?5510888) format("truetype"), 
    url(fonts/revicons.svg?5510888#revicons) format("svg");
    font-weight: 400;
    font-style: normal
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'revicons';
    src: url('fonts/revicons.svg?5510888#revicons') format('svg');
  }
}*/
[class^="revicon-"]:before,
[class*=" revicon-"]:before {
    font-family: "revicons";
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.revicon-search-1:before {
    content: '\e802'
}
.revicon-pencil-1:before {
    content: '\e831'
}
.revicon-picture-1:before {
    content: '\e803'
}
.revicon-cancel:before {
    content: '\e80a'
}
.revicon-info-circled:before {
    content: '\e80f'
}
.revicon-trash:before {
    content: '\e801'
}
.revicon-left-dir:before {
    content: '\e817'
}
.revicon-right-dir:before {
    content: '\e818'
}
.revicon-down-open:before {
    content: '\e83b'
}
.revicon-left-open:before {
    content: '\e819'
}
.revicon-right-open:before {
    content: '\e81a'
}
.revicon-angle-left:before {
    content: '\e820'
}
.revicon-angle-right:before {
    content: '\e81d'
}
.revicon-left-big:before {
    content: '\e81f'
}
.revicon-right-big:before {
    content: '\e81e'
}
.revicon-magic:before {
    content: '\e807'
}
.revicon-picture:before {
    content: '\e800'
}
.revicon-export:before {
    content: '\e80b'
}
.revicon-cog:before {
    content: '\e832'
}
.revicon-login:before {
    content: '\e833'
}
.revicon-logout:before {
    content: '\e834'
}
.revicon-video:before {
    content: '\e805'
}
.revicon-arrow-combo:before {
    content: '\e827'
}
.revicon-left-open-1:before {
    content: '\e82a'
}
.revicon-right-open-1:before {
    content: '\e82b'
}
.revicon-left-open-mini:before {
    content: '\e822'
}
.revicon-right-open-mini:before {
    content: '\e823'
}
.revicon-left-open-big:before {
    content: '\e824'
}
.revicon-right-open-big:before {
    content: '\e825'
}
.revicon-left:before {
    content: '\e836'
}
.revicon-right:before {
    content: '\e826'
}
.revicon-ccw:before {
    content: '\e808'
}
.revicon-arrows-ccw:before {
    content: '\e806'
}
.revicon-palette:before {
    content: '\e829'
}
.revicon-list-add:before {
    content: '\e80c'
}
.revicon-doc:before {
    content: '\e809'
}
.revicon-left-open-outline:before {
    content: '\e82e'
}
.revicon-left-open-2:before {
    content: '\e82c'
}
.revicon-right-open-outline:before {
    content: '\e82f'
}
.revicon-right-open-2:before {
    content: '\e82d'
}
.revicon-equalizer:before {
    content: '\e83a'
}
.revicon-layers-alt:before {
    content: '\e804'
}
.revicon-popup:before {
    content: '\e828'
}
/* SPECIAL TP CAPTIONS */
.tp-caption .frontcorner {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 0 solid transparent;
    border-top: 40px solid #00A8FF;
    position: absolute;
    left: -40px;
    top: 0
}
.tp-caption .backcorner {
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #00A8FF;
    position: absolute;
    right: 0;
    top: 0
}
.tp-caption .frontcornertop {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 40px solid #00A8FF;
    position: absolute;
    left: -40px;
    top: 0
}
.tp-caption .backcornertop {
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid #00A8FF;
    position: absolute;
    right: 0;
    top: 0
}
/* WRAPPER STYLES */
.rev_slider_wrapper {
    position: relative
}
.rev_slider_wrapper >ul {
    visibility: hidden
}
.rev_slider {
    position: relative;
    overflow: visible
}
.rev_slider img {
    max-width: none;
    -moz-transition: none 0;
    -webkit-transition: none 0;
    -o-transition: none 0;
    transition: none 0;
    margin: 0;
    padding: 0;
    border-width: 0;
    border: none;
    visibility: visible
}
.rev_slider .no-slides-text {
    font-weight: 700;
    text-align: center;
    padding-top: 80px
}
.rev_slider ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
    background-position: 0 0
}
.rev_slider ul li,
.rev_slider >ul >li,
.rev_slider >ul >li:before {
    list-style: none;
    position: absolute;
    visibility: hidden;
    margin: 0;
    padding: 0;
    overflow-x: visible;
    overflow-y: visible;
    list-style-type: none;
    background-image: none;
    background-position: 0 0;
    text-indent: 0
}
.rev_slider .tp-caption,
.rev_slider .caption {
    position: absolute;
    visibility: hidden
}
.tp-simpleresponsive img {
    max-width: none
}
/* ADDED FOR SLIDELINK MANAGEMENT */
.tp-caption {
    z-index: 1
}
.tp_inner_padding {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    max-height: none
}
.tp-hide-revslider,
.tp-caption.tp-hidden-caption {
    visibility: hidden;
    display: none
}
.rev_slider embed,
.rev_slider iframe,
.rev_slider object,
.rev_slider video {
    max-width: none
}
/* WRAPPER STYLES END */
/* IE8 HACKS */
.noFilterClass {
    filter: none
}
/* IE8 HACKS ENDS */
/* FULLSCREEN VIDEO	*/
.caption.fullscreenvideo {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%
}
.caption.fullscreenvideo iframe,
.caption.fullscreenvideo video {
    width: 100%;
    height: 100%;
    display: none
}
.tp-caption.fullscreenvideo {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%
}
.tp-caption.fullscreenvideo iframe,
.tp-caption.fullscreenvideo iframe video {
    width: 100%;
    height: 100%;
    display: none
}
.fullscreenvideo .vjs-loading-spinner {
    visibility: none;
    display: none;
    width: 0;
    height: 0
}
.fullscreenvideo .vjs-control-bar.vjs-fade-out,
.fullscreenvideo .vjs-control-bar.vjs-fade-in,
.fullscreenvideo .vjs-control-bar.vjs-fade-out.vjs-lock-showing,
.fullscreenvideo .vjs-control-bar.vjs-fade-in.vjs-lock-showing {
    visibility: hidden;
    opacity: 0;
    display: none;
    width: 0;
    height: 0;
    overflow: hidden
}
.fullcoveredvideo.video-js,
.fullcoveredvideo video {
    background: transparent
}
.fullcoveredvideo .vjs-poster {
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}
/* FULLSCREEN VIDEO ENDS */
/* DOTTED OVERLAYS */
.tp-dottedoverlay {
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}
.tp-dottedoverlay.twoxtwo {
    background: url(../images/assets/gridtile.png)
}
.tp-dottedoverlay.twoxtwowhite {
    background: url(../images/assets/gridtile_white.png)
}
.tp-dottedoverlay.threexthree {
    background: url(../images/assets/gridtile_3x3.png)
}
.tp-dottedoverlay.threexthreewhite {
    background: url(../images/assets/gridtile_3x3_white.png)
}
/* DOTTED OVERLAYS ENDS	*/
/* FULLSCREEN AND FULLWIDHT CONTAINERS */
.fullscreen-container {
    width: 100%;
    position: relative;
    padding: 0
}
.fullwidthbanner-container {
    width: 100%;
    position: relative;
    padding: 0;
    overflow: hidden
}
.fullwidthbanner-container .fullwidthabanner {
    width: 100%;
    position: relative
}
/* SET THE ANIMATION EVEN MORE SMOOTHER ON ANDROID */
.tp-simpleresponsive .slotholder *,
.tp-simpleresponsive img {
    /*-webkit-transform: translateZ(0);
	  -webkit-backface-visibility: hidden;
	  -webkit-perspective: 1000;*/
}
/* SOME CAPTION MODIFICATION AT START */
.tp-simpleresponsive .caption,
.tp-simpleresponsive .tp-caption {
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";		
      -moz-opacity: 0;	
      -khtml-opacity: 0;	
      opacity: 0; */
    position: absolute;
    -webkit-font-smoothing: antialiased
}
/* SHADOWS */
.tp-bannershadow {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none
}
.tp-bannershadow.tp-shadow1 {
    background: url(../images/assets/shadow1.png) no-repeat;
    background-size: 100% 100%;
    width: 890px;
    height: 30px;
    bottom: -30px
}
.tp-bannershadow.tp-shadow2 {
    background: url(../images/assets/shadow2.png) no-repeat;
    background-size: 100% 100%;
    width: 890px;
    height: 60px;
    bottom: -60px
}
.tp-bannershadow.tp-shadow3 {
    background: url(../images/assets/shadow3.png) no-repeat;
    background-size: 100% 100%;
    width: 890px;
    height: 60px;
    bottom: -60px
}
/* BUTTONS */
.tp-button {
    padding: 6px 13px 5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 30px;
    cursor: pointer;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    font-size: 15px;
    line-height: 45px;
    background: url(../images/assets/g30.png) repeat-x top;
    font-family: arial, sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    text-decoration: none
}
.tp-button.big {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
    font-weight: 700;
    padding: 9px 20px;
    font-size: 19px;
    line-height: 57px;
    background: url(../images/assets/g40.png) repeat-x top
}
.purchase:hover,
.tp-button:hover,
.tp-button.big:hover {
    background-position: bottom, 15px 11px
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .tp-button {
        padding: 4px 8px 3px;
        line-height: 25px;
        font-size: 11px;
        font-weight: 400
    }
    a.tp-button {
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none
    }
}
@media only screen and (min-width: 0px) and (max-width: 479px) {
    .tp-button {
        padding: 2px 5px;
        line-height: 20px;
        font-size: 10px
    }
    a.tp-button {
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none
    }
}
/*	BUTTON COLORS	*/
.tp-button.green,
.tp-button:hover.green,
.purchase.green,
.purchase:hover.green {
    background-color: #21a117;
    -webkit-box-shadow: 0 3px 0 0 #104d0b;
    -moz-box-shadow: 0 3px 0 0 #104d0b;
    box-shadow: 0 3px 0 0 #104d0b
}
.tp-button.blue,
.tp-button:hover.blue,
.purchase.blue,
.purchase:hover.blue {
    background-color: #1d78cb;
    -webkit-box-shadow: 0 3px 0 0 #0f3e68;
    -moz-box-shadow: 0 3px 0 0 #0f3e68;
    box-shadow: 0 3px 0 0 #0f3e68
}
.tp-button.red,
.tp-button:hover.red,
.purchase.red,
.purchase:hover.red {
    background-color: #cb1d1d;
    -webkit-box-shadow: 0 3px 0 0 #7c1212;
    -moz-box-shadow: 0 3px 0 0 #7c1212;
    box-shadow: 0 3px 0 0 #7c1212
}
.tp-button.orange,
.tp-button:hover.orange,
.purchase.orange,
.purchase:hover.orange {
    background-color: #f70;
    -webkit-box-shadow: 0 3px 0 0 #a34c00;
    -moz-box-shadow: 0 3px 0 0 #a34c00;
    box-shadow: 0 3px 0 0 #a34c00
}
.tp-button.darkgrey,
.tp-button.grey,
.tp-button:hover.darkgrey,
.tp-button:hover.grey,
.purchase.darkgrey,
.purchase:hover.darkgrey {
    background-color: #555;
    -webkit-box-shadow: 0 3px 0 0 #222;
    -moz-box-shadow: 0 3px 0 0 #222;
    box-shadow: 0 3px 0 0 #222
}
.tp-button.lightgrey,
.tp-button:hover.lightgrey,
.purchase.lightgrey,
.purchase:hover.lightgrey {
    background-color: #888;
    -webkit-box-shadow: 0 3px 0 0 #555;
    -moz-box-shadow: 0 3px 0 0 #555;
    box-shadow: 0 3px 0 0 #555
}
/* NAVIGATION */
/* BULLETS */
.tpclear {
    clear: both
}
.tp-bullets {
    z-index: 1000;
    position: absolute;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    -ms-transition: opacity .2s ease-out;
    -webkit-transform: translateZ(5px)
}
.tp-bullets.hidebullets {
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0
}
.tp-bullets.simplebullets.navbar {
    border: 1px solid #666;
    border-bottom: 1px solid #444;
    background: url(../images/assets/boxed_bgtile.png);
    height: 40px;
    padding: 0 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}
.tp-bullets.simplebullets.navbar-old {
    background: url(../images/assets/navigdots_bgtile.png);
    height: 35px;
    padding: 0 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}
.tp-bullets.simplebullets.round .bullet {
    cursor: pointer;
    position: relative;
    background: url(../images/assets/bullet.png) no-repeat top left;
    width: 20px;
    height: 20px;
    margin-right: 0;
    float: left;
    margin-top: 0;
    margin-left: 3px
}
.tp-bullets.simplebullets.round .bullet.last {
    margin-right: 3px
}
.tp-bullets.simplebullets.round-old .bullet {
    cursor: pointer;
    position: relative;
    background: url(../images/assets/bullets.png) no-repeat bottom left;
    width: 23px;
    height: 23px;
    margin-right: 0;
    float: left;
    margin-top: 0
}
.tp-bullets.simplebullets.round-old .bullet.last {
    margin-right: 0
}
/* SQUARE BULLETS */
.tp-bullets.simplebullets.square .bullet {
    cursor: pointer;
    position: relative;
    background: url(../images/assets/bullets2.png) no-repeat bottom left;
    width: 19px;
    height: 19px;
    margin-right: 0;
    float: left;
    margin-top: 0
}
.tp-bullets.simplebullets.square .bullet.last {
    margin-right: 0
}
/* SQUARE BULLETS */
.tp-bullets.simplebullets.square-old .bullet {
    cursor: pointer;
    position: relative;
    background: url(../images/assets/bullets2.png) no-repeat bottom left;
    width: 19px;
    height: 19px;
    margin-right: 0;
    float: left;
    margin-top: 0
}
.tp-bullets.simplebullets.square-old .bullet.last {
    margin-right: 0
}
/* navbar NAVIGATION VERSION */
.tp-bullets.simplebullets.navbar .bullet {
    cursor: pointer;
    position: relative;
    background: url(../images/assets/bullet_boxed.png) no-repeat top left;
    width: 18px;
    height: 19px;
    margin-right: 5px;
    float: left;
    margin-top: 10px
}
.tp-bullets.simplebullets.navbar .bullet.first {
    margin-left: 0
}
.tp-bullets.simplebullets.navbar .bullet.last {
    margin-right: 0
}
/* navbar NAVIGATION VERSION */
.tp-bullets.simplebullets.navbar-old .bullet {
    cursor: pointer;
    position: relative;
    background: url(../images/assets/navigdots.png) no-repeat bottom left;
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    margin-top: 10px
}
.tp-bullets.simplebullets.navbar-old .bullet.first {
    margin-left: 0
}
.tp-bullets.simplebullets.navbar-old .bullet.last {
    margin-right: 0
}
.tp-bullets.simplebullets .bullet:hover,
.tp-bullets.simplebullets .bullet.selected {
    background-position: top left
}
.tp-bullets.simplebullets.round .bullet:hover,
.tp-bullets.simplebullets.round .bullet.selected,
.tp-bullets.simplebullets.navbar .bullet:hover,
.tp-bullets.simplebullets.navbar .bullet.selected {
    background-position: bottom left
}
/* TP ARROWS */
.tparrows {
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    -ms-transition: opacity .2s ease-out;
    -webkit-transform: translateZ(5px)
}
.tparrows.hidearrows {
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0
}
.tp-leftarrow {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/assets/left-arrow.png) no-repeat top left;
    width: 40px;
    height: 40px
}
.tp-rightarrow {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/assets/right-arrow.png) no-repeat top left;
    width: 40px;
    height: 40px
}
.tp-leftarrow.round {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/assets/small_left.png) no-repeat top left;
    width: 19px;
    height: 14px;
    margin-right: 0;
    float: left;
    margin-top: 0
}
.tp-rightarrow.round {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/assets/small_right.png) no-repeat top left;
    width: 19px;
    height: 14px;
    margin-right: 0;
    float: left;
    margin-top: 0
}
.tp-leftarrow.round-old {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/assets/left-arrow.png) no-repeat top left;
    width: 26px;
    height: 26px;
    margin-right: 0;
    float: left;
    margin-top: 0
}
.tp-rightarrow.round-old {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/assets/right-arrow.png) no-repeat top left;
    width: 26px;
    height: 26px;
    margin-right: 0;
    float: left;
    margin-top: 0
}
.tp-leftarrow.navbar {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/assets/small_left_boxed.png) no-repeat top left;
    width: 20px;
    height: 15px;
    float: left;
    margin-right: 6px;
    margin-top: 12px
}
.tp-rightarrow.navbar {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/assets/small_right_boxed.png) no-repeat top left;
    width: 20px;
    height: 15px;
    float: left;
    margin-left: 6px;
    margin-top: 12px
}
.tp-leftarrow.navbar-old {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/assets/arrowleft.png) no-repeat top left;
    width: 9px;
    height: 16px;
    float: left;
    margin-right: 6px;
    margin-top: 10px
}
.tp-rightarrow.navbar-old {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/assets/arrowright.png) no-repeat top left;
    width: 9px;
    height: 16px;
    float: left;
    margin-left: 6px;
    margin-top: 10px
}
.tp-leftarrow.navbar-old.thumbswitharrow {
    margin-right: 10px
}
.tp-rightarrow.navbar-old.thumbswitharrow {
    margin-left: 0
}
.tp-leftarrow.square {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/assets/arrow_left2.png) no-repeat top left;
    width: 12px;
    height: 17px;
    float: left;
    margin-right: 0;
    margin-top: 0
}
.tp-rightarrow.square {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/assets/arrow_right2.png) no-repeat top left;
    width: 12px;
    height: 17px;
    float: left;
    margin-left: 0;
    margin-top: 0
}
.tp-leftarrow.square-old {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/assets/arrow_left2.png) no-repeat top left;
    width: 12px;
    height: 17px;
    float: left;
    margin-right: 0;
    margin-top: 0
}
.tp-rightarrow.square-old {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/assets/arrow_right2.png) no-repeat top left;
    width: 12px;
    height: 17px;
    float: left;
    margin-left: 0;
    margin-top: 0
}
.tp-leftarrow.default {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/assets/large_left.png) no-repeat 0 0;
    width: 40px;
    height: 40px
}
.tp-rightarrow.default {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/assets/large_right.png) no-repeat 0 0;
    width: 40px;
    height: 40px
}
.tp-leftarrow:hover,
.tp-rightarrow:hover {
    background-position: bottom left
}
/* TP THUMBS 	
   tp-thumbs & tp-mask Width is the width of the basic Thumb Container (500px basic settings)
   .bullet width & height is the dimension of a simple Thumbnail (basic 100px x 50px) */
.tp-bullets.tp-thumbs {
    z-index: 1000;
    position: absolute;
    padding: 3px;
    background-color: #fff;
    width: 500px;
    height: 50px;
    /* THE DIMENSIONS OF THE THUMB CONTAINER */
    margin-top: -50px;
    vertical-align: top
}
.tp-bullets.tp-thumbs img {
    vertical-align: top
}
.fullwidthbanner-container .tp-thumbs {
    padding: 3px
}
.tp-bullets.tp-thumbs .tp-mask {
    width: 500px;
    height: 50px;
    /* THE DIMENSIONS OF THE THUMB CONTAINER */
    overflow: hidden;
    position: relative
}
.tp-bullets.tp-thumbs .tp-mask .tp-thumbcontainer {
    width: 5000px;
    position: absolute
}
.tp-bullets.tp-thumbs .bullet {
    width: 100px;
    height: 50px;
    /* THE DIMENSION OF A SINGLE THUMB */
    cursor: pointer;
    overflow: hidden;
    background: none;
    margin: 0;
    float: left;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=50);
    /*filter: alpha(opacity=50);*/
    -moz-opacity: .5;
    -khtml-opacity: .5;
    opacity: .5;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out
}
.tp-bullets.tp-thumbs .bullet:hover,
.tp-bullets.tp-thumbs .bullet.selected {
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1
}
.tp-thumbs img {
    width: 100%
}
/* TP BANNER TIMER */
.tp-bannertimer {
    width: 100%;
    height: 10px;
    background: url(../images/assets/timer.png);
    position: absolute;
    z-index: 200;
    top: 0
}
.tp-bannertimer.tp-bottom {
    top: auto;
    bottom: 0;
    height: 5px
}
/* HTML5 VIDEO SETTINGS */
.vjs-tech {
    margin-top: 1px
}
.tp-caption .vjs-default-skin .vjs-big-play-button {
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: none;
    box-shadow: none;
    text-shadow: none;
    line-height: 30px;
    vertical-align: top;
    padding: 0
}
.tp-caption .vjs-default-skin .vjs-big-play-button:before {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    text-shadow: none;
    color: #fff;
    font-size: 18px
}
.tp-caption .vjs-default-skin:hover .vjs-big-play-button,
.vjs-default-skin .vjs-big-play-button:focus {
    box-shadow: none;
    -webkit-box-shadow: none
}
/* RESPONSIVE SETTINGS */
/* BASIC SETTINGS FOR THE BANNER */
.tp-simpleresponsive img {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none
}
.tp-caption img {
    background: transparent;
    -ms-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
    zoom: 1
}
.tp-simpleresponsive ul {
    list-style: none;
    padding: 0;
    margin: 0
}
.tp-simpleresponsive >ul li {
    list-style: none;
    position: absolute;
    visibility: hidden
}
/* CAPTION SLIDELINK */
.caption.slidelink a div,
.tp-caption.slidelink a div {
    width: 3000px;
    height: 1500px;
    background: url(../images/assets/coloredbg.png) repeat
}
.tp-loader {
    background: url(../images/assets/loader.gif) no-repeat 10px 10px;
    background-color: #fff;
    margin: -22px;
    top: 50%;
    left: 50%;
    z-index: 10000;
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}
/* Dinamic Captions for Revolution Slider */
.tp-caption.medium_grey {
    position: absolute;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    font-family: Arial;
    padding: 2px 4px;
    margin: 0;
    border-width: 0;
    border-style: none;
    background-color: #888;
    white-space: nowrap
}
.tp-caption.small_text {
    position: absolute;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    font-family: Arial;
    margin: 0;
    border-width: 0;
    border-style: none;
    white-space: nowrap
}
.tp-caption.medium_text {
    position: absolute;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    font-family: Arial;
    margin: 0;
    border-width: 0;
    border-style: none;
    white-space: nowrap
}
.tp-caption.large_text {
    position: absolute;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    font-family: Arial;
    margin: 0;
    border-width: 0;
    border-style: none;
    white-space: nowrap
}
.tp-caption.very_large_text {
    position: absolute;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    font-family: Arial;
    margin: 0;
    border-width: 0;
    border-style: none;
    white-space: nowrap;
    letter-spacing: -2px
}
.tp-caption.very_big_white {
    position: absolute;
    color: #fff;
    text-shadow: none;
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;
    font-family: Arial;
    margin: 0;
    border-width: 0;
    border-style: none;
    white-space: nowrap;
    padding: 0 4px;
    padding-top: 1px;
    background-color: #000
}
.tp-caption.very_big_black {
    position: absolute;
    color: #000;
    text-shadow: none;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    font-family: Arial;
    margin: 0;
    border-width: 0;
    border-style: none;
    white-space: nowrap;
    padding: 0 4px;
    padding-top: 1px;
    background-color: #fff
}
.tp-caption.modern_medium_fat {
    position: absolute;
    color: #000;
    text-shadow: none;
    font-weight: 800;
    font-size: 24px;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    border-width: 0;
    border-style: none;
    white-space: nowrap
}
.tp-caption.modern_medium_fat_white {
    position: absolute;
    color: #fff;
    text-shadow: none;
    font-weight: 800;
    font-size: 24px;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    border-width: 0;
    border-style: none;
    white-space: nowrap
}
.tp-caption.modern_medium_light {
    position: absolute;
    color: #000;
    text-shadow: none;
    font-weight: 300;
    font-size: 24px;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    border-width: 0;
    border-style: none;
    white-space: nowrap
}
.tp-caption.modern_big_bluebg {
    position: absolute;
    color: #fff;
    text-shadow: none;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    font-family: "Open Sans", sans-serif;
    padding: 3px 10px;
    margin: 0;
    border-width: 0;
    border-style: none;
    background-color: #4e5b6c;
    letter-spacing: 0
}
.tp-caption.modern_big_redbg {
    position: absolute;
    color: #fff;
    text-shadow: none;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    font-family: "Open Sans", sans-serif;
    padding: 3px 10px;
    padding-top: 1px;
    margin: 0;
    border-width: 0;
    border-style: none;
    background-color: #de543e;
    letter-spacing: 0
}
.tp-caption.modern_small_text_dark {
    position: absolute;
    color: #555;
    text-shadow: none;
    font-size: 14px;
    line-height: 22px;
    font-family: Arial;
    margin: 0;
    border-width: 0;
    border-style: none;
    white-space: nowrap
}
.tp-caption.boxshadow {
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5)
}
.tp-caption.black {
    color: #000;
    text-shadow: none
}
.tp-caption.noshadow {
    text-shadow: none
}
.tp-caption.thinheadline_dark {
    position: absolute;
    color: rgba(0, 0, 0, 0.85);
    text-shadow: none;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    font-family: "Open Sans";
    background-color: transparent
}
.tp-caption.thintext_dark {
    position: absolute;
    color: rgba(0, 0, 0, 0.85);
    text-shadow: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    font-family: "Open Sans";
    background-color: transparent
}
.tp-caption.largeblackbg {
    position: absolute;
    color: #fff;
    text-shadow: none;
    font-weight: 300;
    font-size: 50px;
    line-height: 70px;
    font-family: "Open Sans";
    background-color: #000;
    padding: 0 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}
.tp-caption.largepinkbg {
    position: absolute;
    color: #fff;
    text-shadow: none;
    font-weight: 300;
    font-size: 50px;
    line-height: 70px;
    font-family: "Open Sans";
    background-color: #db4360;
    padding: 0 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}
.tp-caption.largewhitebg {
    position: absolute;
    color: #000;
    text-shadow: none;
    font-weight: 300;
    font-size: 50px;
    line-height: 70px;
    font-family: "Open Sans";
    background-color: #fff;
    padding: 0 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}
.tp-caption.largegreenbg {
    position: absolute;
    color: #fff;
    text-shadow: none;
    font-weight: 300;
    font-size: 50px;
    line-height: 70px;
    font-family: "Open Sans";
    background-color: #67ae73;
    padding: 0 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}
.tp-caption.excerpt {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    font-family: Arial;
    color: #fff;
    text-decoration: none;
    background-color: #000;
    background-color: rgba(0, 0, 0, 1);
    text-shadow: none;
    margin: 0;
    letter-spacing: -1.5px;
    padding: 1px 4px 0;
    width: 150px;
    white-space: normal;
    height: auto;
    border-width: 0;
    border-color: #fff;
    border-style: none
}
.tp-caption.large_bold_grey {
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
    font-family: "Open Sans";
    color: #666;
    text-decoration: none;
    background-color: transparent;
    text-shadow: none;
    margin: 0;
    padding: 1px 4px 0;
    border-width: 0;
    border-color: #ffd658;
    border-style: none
}
.tp-caption.medium_thin_grey {
    font-size: 34px;
    line-height: 30px;
    font-weight: 300;
    font-family: "Open Sans";
    color: #666;
    text-decoration: none;
    background-color: transparent;
    padding: 1px 4px 0;
    text-shadow: none;
    margin: 0;
    border-width: 0;
    border-color: #ffd658;
    border-style: none
}
.tp-caption.small_thin_grey {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    font-family: "Open Sans";
    color: #757575;
    text-decoration: none;
    background-color: transparent;
    padding: 1px 4px 0;
    text-shadow: none;
    margin: 0;
    border-width: 0;
    border-color: #ffd658;
    border-style: none
}
.tp-caption.lightgrey_divider {
    text-decoration: none;
    background-color: #ebebeb;
    background-color: rgba(235, 235, 235, 1);
    width: 370px;
    height: 3px;
    background-position: initial initial;
    background-repeat: initial initial;
    border-width: 0;
    border-color: #222;
    border-style: none
}
.tp-caption.large_bold_darkblue {
    font-size: 58px;
    line-height: 60px;
    font-weight: 800;
    font-family: "Open Sans";
    color: #34495e;
    text-decoration: none;
    background-color: transparent;
    border-width: 0;
    border-color: #ffd658;
    border-style: none
}
.tp-caption.medium_bg_darkblue {
    font-size: 20px;
    line-height: 20px;
    font-weight: 800;
    font-family: "Open Sans";
    color: #fff;
    text-decoration: none;
    background-color: #34495e;
    padding: 10px;
    border-width: 0;
    border-color: #ffd658;
    border-style: none
}
.tp-caption.medium_bold_red {
    font-size: 24px;
    line-height: 30px;
    font-weight: 800;
    font-family: "Open Sans";
    color: #e33a0c;
    text-decoration: none;
    background-color: transparent;
    padding: 0;
    border-width: 0;
    border-color: #ffd658;
    border-style: none
}
.tp-caption.medium_light_red {
    font-size: 21px;
    line-height: 26px;
    font-weight: 300;
    font-family: "Open Sans";
    color: #e33a0c;
    text-decoration: none;
    background-color: transparent;
    padding: 0;
    border-width: 0;
    border-color: #ffd658;
    border-style: none
}
.tp-caption.medium_bg_red {
    font-size: 20px;
    line-height: 20px;
    font-weight: 800;
    font-family: "Open Sans";
    color: #fff;
    text-decoration: none;
    background-color: #e33a0c;
    padding: 10px;
    border-width: 0;
    border-color: #ffd658;
    border-style: none
}
.tp-caption.medium_bold_orange {
    font-size: 24px;
    line-height: 30px;
    font-weight: 800;
    font-family: "Open Sans";
    color: #f39c12;
    text-decoration: none;
    background-color: transparent;
    border-width: 0;
    border-color: #ffd658;
    border-style: none
}
.tp-caption.medium_bg_orange {
    font-size: 20px;
    line-height: 20px;
    font-weight: 800;
    font-family: "Open Sans";
    color: #fff;
    text-decoration: none;
    background-color: #f39c12;
    padding: 10px;
    border-width: 0;
    border-color: #ffd658;
    border-style: none
}
.tp-caption.grassfloor {
    text-decoration: none;
    background-color: #a0b397;
    background-color: rgba(160, 179, 151, 1);
    width: 4000px;
    height: 150px;
    border-width: 0;
    border-color: #222;
    border-style: none
}
.tp-caption.large_bold_white {
    font-size: 58px;
    line-height: 60px;
    font-weight: 800;
    font-family: "Open Sans";
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    border-width: 0;
    border-color: #ffd658;
    border-style: none
}
.tp-caption.medium_light_white {
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
    font-family: "Open Sans";
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    padding: 0;
    border-width: 0;
    border-color: #ffd658;
    border-style: none
}
.tp-caption.mediumlarge_light_white {
    font-size: 34px;
    line-height: 40px;
    font-weight: 300;
    font-family: "Open Sans";
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    padding: 0;
    border-width: 0;
    border-color: #ffd658;
    border-style: none
}
.tp-caption.mediumlarge_light_white_center {
    font-size: 34px;
    line-height: 40px;
    font-weight: 300;
    font-family: "Open Sans";
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    padding: 0;
    text-align: center;
    border-width: 0;
    border-color: #ffd658;
    border-style: none
}
.tp-caption.medium_bg_asbestos {
    font-size: 20px;
    line-height: 20px;
    font-weight: 800;
    font-family: "Open Sans";
    color: #fff;
    text-decoration: none;
    background-color: #7f8c8d;
    padding: 10px;
    border-width: 0;
    border-color: #ffd658;
    border-style: none
}
.tp-caption.medium_light_black {
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
    font-family: "Open Sans";
    color: #000;
    text-decoration: none;
    background-color: transparent;
    padding: 0;
    border-width: 0;
    border-color: #ffd658;
    border-style: none
}
.tp-caption.large_bold_black {
    font-size: 58px;
    line-height: 60px;
    font-weight: 800;
    font-family: "Open Sans";
    color: #000;
    text-decoration: none;
    background-color: transparent;
    border-width: 0;
    border-color: #ffd658;
    border-style: none
}
.tp-caption.mediumlarge_light_darkblue {
    font-size: 34px;
    line-height: 40px;
    font-weight: 300;
    font-family: "Open Sans";
    color: #34495e;
    text-decoration: none;
    background-color: transparent;
    padding: 0;
    border-width: 0;
    border-color: #ffd658;
    border-style: none
}
.tp-caption.small_light_white {
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
    font-family: "Open Sans";
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    padding: 0;
    border-width: 0;
    border-color: #ffd658;
    border-style: none
}
.tp-caption.roundedimage {
    border-width: 0;
    border-color: #222;
    border-style: none
}
.tp-caption.large_bg_black {
    font-size: 40px;
    line-height: 40px;
    font-weight: 800;
    font-family: "Open Sans";
    color: #fff;
    text-decoration: none;
    background-color: #000;
    padding: 10px 20px 15px;
    border-width: 0;
    border-color: #ffd658;
    border-style: none
}
.tp-caption.mediumwhitebg {
    font-size: 30px;
    line-height: 30px;
    font-weight: 300;
    font-family: "Open Sans";
    color: #000;
    text-decoration: none;
    background-color: #fff;
    padding: 5px 15px 10px;
    text-shadow: none;
    border-width: 0;
    border-color: #000;
    border-style: none
}
/* Static Captions for Revolution Slider */
.tp-caption a {
    color: #ff7302;
    text-shadow: none;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out
}
.tp-caption a:hover {
    color: #ffa902
}
.tp-caption2 {
    z-index: 2
}
.tp-caption3 {
    z-index: 3
}
.tp-caption4 {
    z-index: 4
}
.tp-caption5 {
    z-index: 5
}
.tp-caption6 {
    z-index: 6
}
.tp-caption7 {
    z-index: 7
}
/* Slider */
#rev_slider_7_1_wrapper {
    margin: -5px 0 20px;
    padding: 0;
    height: 600px
}
#rev_slider_7_1 {
    display: none;
    height: 600px
}
.tp-loader {
    background: #fff url(../images/loading.gif) no-repeat center center;
    border-radius: 256px;
    -webkit-border-radius: 256px;
    -moz-border-radius: 256px;
    height: 124px;
    left: 50%;
    margin: -64px;
    top: 50%;
    width: 124px
}
/*.tp-rightarrow.default {
	background: rgba(20,20,20,0.2) url(../images/right-arrow.png); 
	background-repeat: no-repeat;
	background-position: 53% 50%;
	width:56px;	
	height:56px;  
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
	margin-right: -20px; 
}
.tp-leftarrow.default {
	background: rgba(20,20,20,0.2) url(../images/left-arrow.png);
	background-repeat: no-repeat;
	background-position: 45% 50%;	
	width:56px;	
	height:56px;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius:  0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	margin-left: -20px;
}*/
.rev_slider_wrapper:hover .tparrows {
    display: block
}
.rev_slider {
    z-index: 0
}
#slider .widget>* {
    overflow: hidden;
    padding: 30px 0
}
#slider .widget_revslider:last-child {
    margin-bottom: 0
}
#slider .rev_slider_wrapper {
    width: 100%
}
.style-boxed #slider .widget {
    margin: 0;
    padding: 0
}
.style-boxed .forcefullwidth_wrapper_tp_banner {
    width: 100%;
    float: left
}
.style-boxed .fullwidthbanner-container {
    left: 0
}