.dropbox {
	height: 120px;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

input[type=file] {
    display: inline-block;
}

.hidden {
	display: none
}